<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>uniSideLearn</title>
<link rel="icon" href="image/favicon.png" type="png"/>
<link rel="stylesheet"  th:href="@{/css/home.css}"
</head>
<body>
<!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&display=swap"
    rel="stylesheet">
</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a href="#" class="logo">
        <img src="image/logo.jpeg" alt="uniSideLearn logo">
      </a>


      <nav class="navbar" data-navbar>


        <ul class="navbar-list">

          <li>
            <a href="/" class="navbar-link">Home</a>
          </li>

          <li>
            <a href="#" class="navbar-link">About</a>
          </li>

          <li>
            <a href="/home" class="navbar-link">Service</a>
          </li>

          <li>
            <a href="#" class="navbar-link">Contact</a>
          </li>

        </ul>

        <button class="btn btn-secondary"><a href="/studentHome"> Get Started</a></button>

      </nav>

    </div>
  </header>


  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="hero">
        <div class="container">

          <figure class="hero-banner">
            <img src="image/hero-banner1.png" alt="A young lady sits, holding a pen and a notebook">
          </figure>

          <div class="hero-content">

            <h1 class="h1 hero-title">Start Your Coding Journey Now</h1>

            <p class="section-text">
              uniSideLearn is an online learning platform that provides interactive coding challenges, tutorials, 
              and projects to help learners acquire and apply skills in web development and programming and
              Unlike conventional methods of learning,uniSideLearn  prioritize interactivity. 
              These platforms leverage multimedia resources, interactive coding environments, 
              and real-world projects to engage learners actively.
              
            </p>
          </div>

        </div>
      </section>





      <!-- 
        - #ABOUT
      -->

      <section class="about">
        <div class="container">

          <figure class="about-banner">

            <img src="image/about-banner.png" alt="uniSidelearn students" class="about-img">

          </figure>

          <div class="about-content">

            <h2 class="h2 about-title">We Help to Create Possibility & Success in Your Career!</h2>

            <p class="section-text">
              we are dedicated to unlocking the full potential of your professional path. 
              Our tailored solutions and expert guidance pave the way for unprecedented 
              possibilities and unwavering success
            </p>


          </div>

        </div>
      </section>





      <!-- 
        - #DEPARTMENTS
      -->

      <section class="departments">
        <div class="container">

          <h2 class="h2 departments-title">We Have Most of Popular Courses</h2>

          <ul class="departments-list">

            <li>
              <div class="departments-card">

                <a href="#" class="card-banner">
                  <figure>
                    <img src="image/java.png" alt="Java">
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Java Tutorial for Complete Beginners</h3>
                </a>

                <p class="card-text">
                  Java Programming for Beginners to Java Object Oriented Programming. Core Java + REST API with Spring Boot. Java 8 to 17.
                </p>

                <a href="#" class="card-link">
                  <span>Learn More</span>

                  <ion-icon name="arrow-forward"></ion-icon>
                </a>

              </div>
            </li>

            <li>
              <div class="departments-card">

                <a href="#" class="card-banner">
                  <figure>
                    <img src="image/sql.jpg" alt="sql">
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">SQL for Beginners Become an SQL Expert</h3>
                </a>

                <p class="card-text">
                  In this SQL course, you’ll learn how to manage large datasets and analyze real data using the standard data management language.
                </p>

                <a href="#" class="card-link">
                  <span>Learn More</span>

                  <ion-icon name="arrow-forward"></ion-icon>
                </a>

              </div>
            </li>

            <li>
              <div class="departments-card">

                <a href="#" class="card-banner">
                  <figure>
                    <img src="image/python.jpg" alt="Python">
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Learn Python Programming-Beginner to Master</h3>
                </a>

                <p class="card-text">
                  Learn how to code in Python, design and access databases, create interactive web applications, 
                  and share your apps with the world.
                </p>

                <a href="#" class="card-link">
                  <span>Learn More</span>

                  <ion-icon name="arrow-forward"></ion-icon>
                </a>

              </div>
            </li>

          </ul>


        </div>
      </section>

      <!-- 
        - #CTA
      -->

      <section class="cta">
        <div class="container">

          <div class="title-wrapper">

            <h2 class="h2 cta-title">
              <span>Create Free Account & Get Register</span>
               
            </h2>

            <button class="btn btn-primary"><a href="/register">Register Now</a></button>

          </div>

        </div>
      </section>

    </article>
  </main>


  <!-- 
    - #FOOTER
  -->

  <footer class="footer">

    <div class="footer-top">
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="image/logo.jpeg" alt="Eduland logo">
          </a>

          <p class="footer-text">
             uniSideLearn is an online learning platform that provides interactive coding solutions and extensive technology.
          </p>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-google"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <div class="footer-link-box">

          <ul class="footer-list">

            <li>
              <p class="footer-link-title">Services</p>
            </li>

            <li>
              <a href="#" class="footer-link">Frontend</a>
            </li>

            <li>
              <a href="#" class="footer-link">Backend</a>
            </li>

            <li>
              <a href="#" class="footer-link">Database</a>
            </li>

            <li>
              <a href="#" class="footer-link">Development</a>
            </li>

          </ul>

          <ul class="footer-list">

            <li>
              <p class="footer-link-title">Company</p>
            </li>

            <li>
              <a href="#" class="footer-link">About</a>
            </li>

            <li>
              <a href="#" class="footer-link">Terms</a>
            </li>

            <li>
              <a href="#" class="footer-link">Privacy Policy</a>
            </li>

          </ul>


          <ul class="footer-list">

            <li>
              <p class="footer-link-title">Contact</p>
            </li>

            <li class="contact-item">
              <span id="ff">Call:</span>

              <a href="tel:+91 874-781-8683" class="contact-link">+91 874-781-8683</a>
            </li>

            <li class="contact-item">
              <span id="ff">Email:</span>

              <a href="mailto:uniSideLearn@example.com" class="contact-link">uniSideLearn@example.com</a>
            </li>

            <li class="contact-item">
              <span id="ff">Address : </span>

              <a href="#" class="contact-link">
                <address>Mudhol,Karnataka, India</address>
              </a>
            </li>

          </ul>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">
        <p class="copyright">
          &copy; 2023 <a href="">uniSideLearn</a>. All right reserved
        </p>
      </div>
    </div>

  </footer>


  <!-- 
    - #GO TO TOP
  -->

  <a href="#top" class="go-top" data-go-top>
  </a>


  <!-- 
    - custom js link
  -->

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>