<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>welcome student</title>
<link rel="stylesheet"  th:href="@{/css/purchase.css}">
</head>
<body>
<header>
	<div class="logo">
	  <img src="image/logo.jpeg" alt="logo">
		</div>
		   <nav>
			   <ul>
				   <li><a href="/">Home</a></li>
				   <li><a href="/purchase">Buy Course</a></li>
				   <li><a href="/myCourses">My Course</a></li>
				   <li><a href="#">Contact</a></li>	   
				</ul>
		   </nav>   
		   <button><a href="/login">Logout</a></button>
    </div>
    </header>
    
    <div class="container">
		
	</div>
    
    
      <!-- 
        - #DEPARTMENTS
      -->

      <section class="departments">
        <div class="container">

          <h1>Kick Start Your Journey! With the Most Popular Courses</h1>

          <ul class="departments-list">

            <li>
              <div class="departments-card">

                <a href="#" class="card-banner">
                  <figure>
                    <img src="image/java.png" alt="Java">
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Java Tutorial for complete Beginners: Start Coding in 2023</h3>
                </a>

                <p class="card-text">
                  Java Programming for Beginners to Java Object Oriented Programming. Core Java , Java EE, Spring Framework, REST API. Java 8 to 17.
                </p>
                  <h2>Rs.14,399</h2>
                   <div class="nn">
                  <button id="bb"><a>Buy Now</a></button>
                  </div>
              </div>
            </li>

            <li>
              <div class="departments-card">

                <a href="#" class="card-banner">
                  <figure>
                    <img src="image/sql.jpg" alt="sql">
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">SQL for Beginners Become an SQL Expert</h3>
                </a>

                <p class="card-text">
                  In this SQL course, you’ll learn how to manage large datasets and analyze real data using the standard data management language.
                </p>

                 <h2>Rs.8,000</h2>
                  <button id="bb"><a>Buy Now</a></button>

              </div>
            </li>

            <li>
              <div class="departments-card">

                <a href="#" class="card-banner">
                  <figure>
                    <img src="image/python.jpg" alt="Python">
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Learn Python Programming-Beginner to Master</h3>
                </a>

                <p class="card-text">
                  Learn how to code in Python, design and access databases, create interactive web applications, 
                  and share your apps with the world.
                </p>

                 <h2>Rs.15,000</h2>
                  <button id="bb"><a>Buy Now</a></button>

              </div>
            </li>
          </ul>
          
          <ul class="listo">
			  <li>
              <div class="departments-card">

                <a href="#" class="card-banner">
                  <figure>
                    <img src="image/data strructure.jpg" alt="data">
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">The Complete Data Structures and Algorithm Course in Java</h3>
                </a>

                <p class="card-text">
                  Learn, implement, and use different Data Structures and implement using the different Algorithms, 
                   Time and Space Complexity of Algorithms and learn the asymptotic notations.
                </p>

                 <h2>Rs.23,999</h2>
                  <button id="bb"><a>Buy Now</a></button>

              </div>
            </li>
            
            <li>
              <div class="departments-card">

                <a href="#" class="card-banner">
                  <figure>
                    <img src="image/react.png" alt="react">
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Learn React</h3>
                </a>

                <p class="card-text">
                  You’ll learn how to start with React and build up to dynamic user interfaces.
                  You’ll work with React specific concepts like: JSX, components, state, props, hooks, and more. 
                  Take this course to gain an edge as a front-end or full-stack web developer.
                </p>

                 <h2>Rs.12,000</h2>
                  <button id="bb"><a>Buy Now</a></button>

              </div>
            </li>
            
            <li>
              <div class="departments-card">

                <a href="#" class="card-banner">
                  <figure>
                    <img src="image/manual.jpg" alt="manual">
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Learn Manual Software Testing + Agile</h3>
                </a>

                <p class="card-text">
                  At the end of this course, you will be able to understand 
                  Software Testing Concepts , development models and the complete cycle of Manual Testing.
                </p>

                 <h2>Rs.6,799</h2>
                  <button id="bb"><a>Buy Now</a></button>

              </div>
            </li>
            
		  </ul>
		  
        </div>
      </section>

<footer class="footer">
    <div class="footer-bottom">
      <div class="container">
        <p class="copyright">
          &copy; 2023 <a href="">uniSideLearn</a>. All right reserved
        </p>
      </div>
    </div>
  </footer>

</body>
</html>