<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>student home</title>
<link rel="stylesheet"  th:href="@{/css/student.css}">
</head>
<body>
<header>
	<div class="logo">
	  <img src="image/logo.jpeg" alt="logo">
		</div>
		   <nav>
			   <ul>
				   <li><a href="/">Home</a></li>
				   <li><a href="/purchase">Buy Course</a></li>
				   <li><a href="/myCourses">My Course</a></li>
				   <li><a href="#">Contact</a></li>	   
				</ul>
		   </nav>   
		   <button><a href="/login">Logout</a></button>
    </div>
    </header>
    <!-- Home-->
    <section class="home" id="home">
		  <div class="hero1">
		  <img src="image/hero.jpg" alt="hero1">
		</div>
	</section>
	
	
	
	<h1>Welcome! Student &#128187;</h1>
	
	 <section class="hero">
            <div class="hero-content">
            <h2>Make Your Coding Journey Adventurous</h2>
            <p class="section-text">
                Break free from traditional learning platform and unleash your potential with,
                our projects and flexible e-learning solutions to help learners acquire and 
                apply skills in web development Whether you're at home or on the go,
                our platform ensures that learning is always within reach, 
                enabling you to achieve your goals at your own pace and 
                encouraging a love for learning that goes beyond the classroom and lasts a lifetime.
            </p>
          </div>
           <div class="form-box1">
		<button id="bt"><a href="/purchase">Buy Course</a></button>
           </div>
           
           <div class="form-box2">
		<button id="bt"><a href="/myCourses">My Courses</a></button>
           </div>
           
      </section>

<!-- 
        - #ABOUT
      -->

      <section class="about">
        <div class="container">

          <figure class="about-banner">

            <img src="image/about-banner.png" alt="uniSidelearn students" class="about-img">

          </figure>

          <div class="about-content">

            <h2 class="h2 about-title">We Help to Create Possibility & Success in Your Career!</h2>

            <p class="section-text">
              we are dedicated to unlocking the full potential of your professional path. 
              Our tailored solutions and expert guidance pave the way for unprecedented 
              possibilities and unwavering success.
            </p>
  
          </div>
        </div>
      </section>

	
	<section class="hedo"  id="hedo">
		<div class="hedo-img">
			<img src="image/aboutfoo.jpg" alt="">
			</div>
			<div class="hedo-text">
			<h2 class="hf">uniSideLearn</h2>
			<p>uniSideLearn is an online learning platform that provides interactive coding challenges,tutorials,<br> 
              and projects to help learners acquire and apply skills in web development and programming and
              Unlike conventional methods of learning,uniSideLearn  prioritize interactivity.These platforms 
              leverage multimedia resources, interactive coding environments, and real-world projects to engage learners actively.</p>
		</div>
		
	</section>
	
	<footer class="footer">
    <div class="footer-bottom">
      <div class="container">
        <p class="copyright">
          &copy; 2023 <a href="">uniSideLearn</a>. All right reserved
        </p>
      </div>
    </div>
  </footer>
    
</body>
</html>