<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>welcome trainer</title>
<link rel="stylesheet"  th:href="@{/css/trainer.css}">
</head>
<body>
	<header>
			 <div class="logo">
			<img src="image/logo.jpeg" alt="logo">
			</div>
		   <nav>
			   <ul>
				   <li><a href="/">Home</a></li>
				   <li><a href="/createCourse">Add New Course</a></li>
				   <li><a href="/addLesson">Add Lesson</a></li>
				   <li><a href="/showCourses">View Course</a></li>
				   
			   </ul>
		   </nav>   
		   <button><a href="/login">Logout</a></button>
    </div>
    </header>
    
    <h1>Welcome! Trainer</h1>
    <div class="content">
		<img src="image/hero-banner.png" alt="hero">
	</div>
    
    <div class="form-box">
		<button id="bt"><a href="/createCourse">Add New Course</a></button>
		<button id="bt"><a href="/addLesson">Add Lesson</a></button>
		<button id="bt"><a href="/showCourses">View Course</a></button>
		</div>
		
	<footer class="footer">
    <div class="footer-bottom">
      <div class="container">
        <p class="copyright">
          &copy; 2023 <a href="">uniSideLearn</a>. All right reserved
        </p>
      </div>
    </div>

  </footer>
		
    
</body>
</html>